<div class="center jumbotron">
  <div>
    <h1>Error 500: Internal Server Error.</h1>
    <p>Something went wrong. Our technical team have been notified of the issue and we are looking into it. Please try again shortly.</p>
  </div>
</div>