<div class="center jumbotron">
  <div>
    <h1>Error 404: Page not found.</h1>
    <p>We’re sorry but it appears that we can’t find the page you were looking for. Usually this occurs because of a page that previously existed was removed or you’ve mistyped the address.</p>
  </div>
</div>